<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 <script src = "./script.js" defer></script>
</head>
<body>
  <div id=#wrapper>
  
    <header>

    <div id = divLogin>
   <button id = "button">Log in</button>
      </div>
       <div>
    <h1> Lul Care LLC </h1>
   
    <h2> Honesty Commitment Integrity</h2>
    </div>
      <nav class = "nav-menu">
       <div class = "nav-container">
    
<button type = "button" id = "menu-show-btn">
                <i class = "fas fa-bars"></i>
            </button>
        <div class = "nav-overlay">
                <div class = "nav-overlay-container">
        <button type = "button" id = "menu-hide-btn">
                        <i class = "fas fa-close"></i>
                    </button>
      <ul id="menu" class = "nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/verify">Verify</a></li>
      </ul>
       </div>
      </div>
       </div>
    </nav>
    </header>
    <main>
      <div id="para">
        <img src='house.jpg' alt = "house" />
       
          <h1>Program Statement</h1>
         <p>
          Lul Care LLC is a 1-2 Bed AFH (Adult Family Home). The home is brand new and is in the heart of the Stoner
          Prairie neighborhood. It is a very quiet and peaceful neighborhood that is very close to the fire Station off
          of Seminole hwy. The rooms are spacious, fully furnished, and carpeted, equipped with ceiling fans and the
          whole home has a HVAC system (Heating, ventilation, and air conditioning).
        </p>
        <p>
          Lul Care LLC is willing and able to provide tender and loving care to each individual to make them feel right
          at home. In addition, the individual`s providers and myself will work closely together as well as with the
          individuals` family members to maintain a social support network to meet the satisfaction of each individual.
          Three meals will be provided everyday as well as snacks to each individual. Lul Care LLC will work closely
          with the individuals and their providers to plan daily activities such as entertainment and outings. As a
          matter of policy, staff will carry out monthly drills in case of fire or natural disasters.
        </p>
        <p>
        I have over 20 years of experience as a care giver with most of my experience being here in Madison. Personal
        cares, medication administration, cooking, cleaning, and documentation are some of the things I am skilled at. I
        also have experience transporting clients to their workplace and assisting them in their occupation. I have
        worked with clients who are elderly, developmentally disabled, emotionally disturbed/mental illness, dementia,
        physically disabled, and terminally ill. Our desired client target group are individuals that are ambulatory and
        fit in to one or more categories stated above. Lul Care LLC will assess individuals for compatibility.
        </p>
        <p>
        Lul Care LLC does not and shall not discriminate on the basis of race, color, religion (creed), gender, gender
        expression, age, national origin (ancestry), disability, marital status, sexual orientation, or military status,
        in any of its activities or operations. These activities include, but are not limited to, hiring, and firing of
        staff, selection of volunteers and vendors, and provision of services. We are committed to providing an
        inclusive and welcoming environment for all members of our staff and clients.

        </p>

      </div>

    </main>
    <!--
  This script places a badge on your repl's full-browser view back to your repl's cover
  page. Try various colors for the theme: dark, light, red, orange, yellow, lime, green,
  teal, blue, blurple, magenta, pink!
  -->
      

 
  
        <footer>
    This site is under development by UW-Oshkosh students as a prototype for Lul Care LLC. Nothing on the site should be construed in any way as being connected with or representative of Lul Care LLC.
          <br>
          <a href ="https://validator.w3.org/nu/?doc=https%3A%2F%2Ffinal-project-milestone-ii-qadarisse.cs346.repl.co%2Fabout"><img id = "validator" src = "valid-html40.png" alt = "valid" ></a>
   
    
  </footer> 
     </div>
</body>

</html>