<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
 <script src = "./script.js" theme = "blue" defer></script>

</head>

<body>
  <div id=#wrapper>
    
    <header>

    <div id = divLogin>
   <button id = "button2">Log out</button>
      </div>
        <div>
    <h1> Lul Care LLC </h1>
   
    <h2> Honesty Commitment Integrity</h2>
    </div>
       <nav class = "nav-menu">
       <div class = "nav-container">
    
<button type = "button" id = "menu-show-btn">
                <i class = "fas fa-bars"></i>
            </button>
        <div class = "nav-overlay">
                <div class = "nav-overlay-container">
        <button type = "button" id = "menu-hide-btn">
                        <i class = "fas fa-close"></i>
                    </button>
      <ul id="menu" class = "nav-links">
        <li><a href="/forms">Add a Shift Note</a></li>
        <li><a href="/listResults">List Form</a></li>
        <li><a href="/modifyResults">Modify Past Form</a></li>
        <li><a href="/deleteResults">Delete a Record</a></li>
      </ul>
       </div>
      </div>
       </div>
    </nav>
    </header>
    <main>
      <div id = "form">
        <form method="POST" action= "update">       
  <div>
    <label for="name">Enter Name of Individual to Update:</label> 
  <input type="text" name="select" id="name" required>
  </div>
          <div>
    <label for="name">Enter Name:</label> 
  <input type="text" name="name" id="name" required>
  </div>
 <div>
     <label for="breakfast">Breakfast:</label> 
  <input type="text" name="breakfast" id="breakfast" required>
  </div>
  <div>
     <label for="lunch">Lunch:</label> 
  <input type="text" name="lunch" id="lunch" required>
  </div>
  <div>
    <label for="dinner">Dinner:</label>
   <input type="text" name="dinner" id="dinner" required>
  </div>
  <div>
     <label for="activities">Activities:</label>
   <input type="text" name="activities" id="activities" required>

  </div>
  <div>
     <label for="shift_summary">Shift Summary:</label>
   <input type="text" name="shift_summary" id="shift_summary" required>

  </div> 
    <input type="submit"> 
        </form>

      </div>


    </main>
    <!--
  This script places a badge on your repl's full-browser view back to your repl's cover
  page. Try various colors for the theme: dark, light, red, orange, yellow, lime, green,
  teal, blue, blurple, magenta, pink!
  -->
  
<script>
  document.getElementById("button2").addEventListener("click", function() {
  location.href = '/logout';
     location.href = '/index.html';
});
</script>
  
       <footer>
    This site is under development by UW-Oshkosh students as a prototype for Lul Care LLC. Nothing on the site should be construed in any way as being connected with or representative of Lul Care LLC.
         <br>
         <a href ="https://final-project-milestone-ii-qadarisse.cs346.repl.co/modifyResults"><img id = "validator" src = "valid-html40.png" alt = "valid" ></a>
   
  </footer>
    </div>
</body>

</html>